# Backend Environments
PORT = 
NODE_ENV=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
MONGODB_URI=

# Typeorm
TYPEORM_LOGGING=false
TYPEORM_CONNECTION=mongodb
TYPEORM_ENTITIES=dist/**/*.entity.js
TYPEORM_URL=


#-----------------------------------------------------------------------------------------------------------------------
# AWS Environments
#-----------------------------------------------------------------------------------------------------------------------

AWS_REGION=us-east-1

# Access Keys
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# S3
AWS_BUCKET=

# SQS
AWS_SQS_QUEUE_URL=