# Backend Environments

# The environments that can be used for the backend.
# For MongoDB only `Typeorm` variables are needed.
# Don't forget to set the environment variables of `Typeorm` before running the app.
# TYPEORM_URL is the MongoDB connection string to the database.
# Don't forget to set the AWS environment variables before running the app.
# Redis server is used for caching and session storage.

PORT = 3333
NODE_ENV='development' # Change to 'production' when deploying to production
DB_NAME=                                        # Database name
DB_USERNAME=                                    # Database username
DB_PASSWORD=                                    # Database password
MONGODB_URI=                                    # MongoDB URI

#-----------------------------------------------------------------------------------------------------------------------
# Typeorm
#-----------------------------------------------------------------------------------------------------------------------
TYPEORM_CONNECTION=                             # Typeorm connection Type (ex: mongodb or sql)
TYPEORM_URL=                                    # MongoDB URI
TYPEORM_ENTITIES=dist/**/*.entity.js
TYPEORM_LOGGING=false

#-----------------------------------------------------------------------------------------------------------------------
# Session
#-----------------------------------------------------------------------------------------------------------------------
SESSION_SECRET= # Session secret

# Rate Limiting
THROTTLER_TTL=1m
THROTTLER_LIMIT=10/1m
THROTTLER_MAX=100/1m

# Redis Session Store & Cache
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379


#-----------------------------------------------------------------------------------------------------------------------
# AWS Environments
#-----------------------------------------------------------------------------------------------------------------------
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_BUCKET=

# AWS_SQS_QUEUE_URL=
